Repository Azure/azure-mcp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Azure/azure-mcp, @Azure/azure-sdk-eng, @JonathanCrd, @conniey, @g2vinay, @sajeetharan, @xiangyan99, @wbreza, @jongio, @ArthurMa1978, @vcolin7, @jayanthjj, @pachaturevedi, @danield137, @smritiy, @srnagar, @kk-src, @shreyaaithal, @maxluk, @pablocastro, @anuchandy, @philon-msft, @alzimmermsft, @vurhanau

Update new-command.md
  src/Docs/new-command.md
Owners: @Azure/azure-mcp

Add instructions for adding e2e test prompts
  CONTRIBUTING.md
  e2eTests/e2eTestPrompts.md
Owners: @Azure/azure-mcp

Minor rephrase
  e2eTests/e2eTestPrompts.md
Owners: @Azure/azure-mcp

updates
  tests/Commands/AppConfig/Account/AccountListCommandTests.cs
  tests/Commands/AppConfig/KeyValue/KeyValueDeleteCommandTests.cs
  tests/Commands/AppConfig/KeyValue/KeyValueListCommandTests.cs
  tests/Commands/AppConfig/KeyValue/KeyValueLockCommandTests.cs
  tests/Commands/AppConfig/KeyValue/KeyValueSetCommandTests.cs
  tests/Commands/AppConfig/KeyValue/KeyValueShowCommandTests.cs
  tests/Commands/AppConfig/KeyValue/KeyValueUnlockCommandTests.cs
Owners: @Azure/azure-mcp

wip unit tests
  tests/Commands/AppConfig/Account/AccountListCommandTests.cs
  tests/Commands/AppConfig/KeyValue/KeyValueDeleteCommandTests.cs
  tests/Commands/AppConfig/KeyValue/KeyValueListCommandTests.cs
  tests/Commands/AppConfig/KeyValue/KeyValueLockCommandTests.cs
  tests/Commands/AppConfig/KeyValue/KeyValueSetCommandTests.cs
  tests/Commands/AppConfig/KeyValue/KeyValueShowCommandTests.cs
  tests/Commands/AppConfig/KeyValue/KeyValueUnlockCommandTests.cs
Owners: @Azure/azure-mcp

Launches MCP server in read-only mode
  src/Commands/Server/ServiceStartCommand.cs
  src/Commands/Server/ToolOperations.cs
  src/Commands/Server/Tools/McpClientService.cs
  src/Commands/Server/Tools/McpCommandGroup.cs
  src/Models/Option/OptionDefinitions.cs
  src/Options/Server/ServiceStartOptions.cs
  tests/Commands/Server/Tools/McpCommandGroupTests.cs
  tests/Commands/Server/Tools/McpServerProviderTests.cs
Owners: @Azure/azure-mcp

Updates changelog and command docs
  CHANGELOG.md
  docs/azmcp-commands.md
Owners: @Azure/azure-mcp

Updates changelog and command docs
  CHANGELOG.md
Owners: @Azure/azure-mcp

cspell fixes
  tests/Commands/AppConfig/KeyValue/KeyValueDeleteCommandTests.cs
  tests/Commands/AppConfig/KeyValue/KeyValueLockCommandTests.cs
  tests/Commands/AppConfig/KeyValue/KeyValueSetCommandTests.cs
  tests/Commands/AppConfig/KeyValue/KeyValueShowCommandTests.cs
  tests/Commands/AppConfig/KeyValue/KeyValueUnlockCommandTests.cs
Owners: @Azure/azure-mcp

Updates table of servers to include new read-only column
  README.md
Owners: @Azure/azure-mcp

Addresses PR feedback
  src/Commands/Server/Tools/McpClientService.cs
  src/Commands/Server/Tools/McpCommandGroup.cs
  tests/Commands/Server/Tools/McpClientServiceTests.cs
Owners: @Azure/azure-mcp

Move proxy model up to service area instead of single tool
  src/Commands/Server/ProxyToolOperations.cs
  src/Commands/Server/ServiceStartCommand.cs
  src/Commands/Server/Tools/AzureProxyTool.cs
  src/Commands/Server/Tools/McpClientService.cs
  src/Commands/Server/Tools/RemoteMcpServer.cs
Owners: @Azure/azure-mcp

Adds support for remote servers
  src/AzureMcp.csproj
  src/Commands/Server/ProxyToolOperations.cs
  src/Commands/Server/RegistryLoader.cs
  src/Commands/Server/ServiceStartCommand.cs
  src/Commands/Server/Tools/CommandGroupMcpClientProvider.cs
  src/Commands/Server/Tools/McpClientService.cs
  src/Commands/Server/Tools/RegistryMcpClientProvider.cs
  src/Commands/Server/Tools/RemoteMcpServer.cs
  src/Models/Server/RegistryJsonContext.cs
  src/Models/Server/RegistryRoot.cs
  src/Models/Server/RegistryServerInfo.cs
  src/Resources/registry.json
  tests/Commands/Server/Models/RegistryRootTests.cs
  tests/Commands/Server/Tools/McpCommandGroupTests.cs
Owners: @Azure/azure-mcp

Adds unit tests for proxy tools
  src/Commands/Server/ProxyToolOperations.cs
  src/Commands/Server/Tools/CommandGroupMcpClientProvider.cs
  src/Commands/Server/Tools/McpClientService.cs
  tests/Commands/Server/ProxyToolOperationsTests.cs
  tests/Commands/Server/Tools/McpClientServiceTests.cs
  tests/Commands/Server/Tools/McpCommandGroupTests.cs
Owners: @Azure/azure-mcp

Enables different modes based on 'service' attribute
  src/Commands/Server/ServiceStartCommand.cs
Owners: @Azure/azure-mcp

Removes redundant protocol version
  src/Commands/Server/ServiceStartCommand.cs
Owners: @Azure/azure-mcp

Updates spelling
  .vscode/cspell.json
Owners: @Azure/azure-mcp

Remove duplicate copyright headers
  src/Areas/AppConfig/Options/KeyValue/KeyValueDeleteOptions.cs
  src/Areas/AppConfig/Options/KeyValue/KeyValueShowOptions.cs
  src/Areas/AppConfig/Options/KeyValue/KeyValueUnlockOptions.cs
  src/Areas/Cosmos/Options/ContainerListOptions.cs
  src/Areas/KeyVault/Options/Key/KeyCreateOptions.cs
  src/Areas/KeyVault/Options/Key/KeyGetOptions.cs
  src/Areas/KeyVault/Options/Key/KeyListOptions.cs
  src/Areas/KeyVault/Options/Secret/SecretGetOptions.cs
  src/Areas/Kusto/Options/ClusterListOptions.cs
  src/Areas/Kusto/Options/DatabaseListOptions.cs
  src/Areas/Kusto/Options/SampleOptions.cs
  src/Areas/Monitor/Options/HealthModels/Entity/EntityGetHealthOptions.cs
  src/Areas/Monitor/Options/TableType/TableTypeListOptions.cs
  src/Areas/Postgres/Options/Database/DatabaseListOptions.cs
  src/Areas/Postgres/Options/Server/GetConfigOptions.cs
  src/Areas/Postgres/Options/Table/TableListOptions.cs
  src/Areas/Redis/Models/CacheForRedis/Cache.cs
  src/Areas/Redis/Models/ManagedRedis/Cluster.cs
  src/Areas/Redis/Models/ManagedRedis/Database.cs
  src/Areas/Redis/Options/ManagedRedis/DatabaseListOptions.cs
  src/Areas/Search/Options/Index/IndexDescribeOptions.cs
  src/Areas/Search/Options/Index/IndexListOptions.cs
  src/Areas/Server/Commands/ServiceStartCommand.cs
  src/Areas/Server/Options/ServiceStartOptions.cs
  src/Areas/Service/Options/ServiceOptionDefinitions.cs
  src/Areas/ServiceBus/Options/Topic/SubscriptionDetailsOptions.cs
  src/Options/Subscription/BaseSubscriptionOptions.cs
Owners: @Azure/azure-mcp

Rebase and enable read-only mode in service level tools
  src/Commands/Server/ProxyToolOperations.cs
  tests/Commands/Server/ProxyToolOperationsTests.cs
  tests/Commands/Server/ToolOperationsTest.cs
Owners: @Azure/azure-mcp

More structure changes
  src/Areas/Server/Commands/ServerStartCommand.cs
  src/Areas/Server/Options/ServerOptionDefinitions.cs
  src/Areas/Server/Options/ServerStartOptions.cs
  src/Areas/Server/ServerSetup.cs
  src/Areas/Subscription/Commands/BaseSubscriptionCommand.cs
  src/Areas/Subscription/Commands/SubscriptionCommand.cs
  src/Areas/Subscription/Commands/SubscriptionJsonContext.cs
  src/Areas/Subscription/Commands/SubscriptionListCommand.cs
  src/Areas/Subscription/Options/BaseSubscriptionOptions.cs
  src/Areas/Subscription/Options/SubscriptionListOptions.cs
  src/Areas/Subscription/SubscriptionSetup.cs
  src/Areas/Tools/Commands/ToolsListCommand.cs
  src/Areas/Tools/ToolsSetup.cs
  src/AzureMcp.csproj
  src/Commands/CommandFactory.cs
  src/Program.cs
  src/Services/Azure/ResourceGroup/IResourceGroupService.cs
  src/Services/Azure/Subscription/ISubscriptionService.cs
  src/Services/Azure/Tenant/ITenantService.cs
  src/Services/Caching/ICacheService.cs
  src/Services/ProcessExecution/IExternalProcessService.cs
  tests/Areas/AppConfig/LiveTests/appConfiguration.bicep
  tests/Areas/Authorization/LiveTests/authorization.bicep
  tests/Areas/AzureIsv/LiveTests/azureIsv.bicep
  tests/Areas/Cosmos/LiveTests/cosmos.bicep
  tests/Areas/KeyVault/LiveTests/keyvault.bicep
  tests/Areas/Kusto/LiveTests/kusto.bicep
  tests/Areas/Monitor/LiveTests/monitoring.bicep
  tests/Areas/Redis/LiveTests/redis.bicep
  tests/Areas/ServiceBus/LiveTests/servicebus.bicep
  tests/Areas/Storage/LiveTests/storage-post.ps1
  tests/Areas/Storage/LiveTests/storage.bicep
  tests/Commands/Server/ServerStartCommandTests.cs
  tests/test-resources-post.ps1
  tests/test-resources.bicep
Owners: @Azure/azure-mcp

Run dotnet format
  src/Areas/Authorization/AuthorizationSetup.cs
Owners: @Azure/azure-mcp

Always create ResponseResult instead of returning null
  src/Commands/AppConfig/Account/AccountListCommand.cs
  src/Commands/AppConfig/KeyValue/KeyValueListCommand.cs
  src/Commands/Authorization/RoleAssignmentListCommand.cs
  src/Commands/Cosmos/AccountListCommand.cs
  src/Commands/Cosmos/ContainerListCommand.cs
  src/Commands/Cosmos/DatabaseListCommand.cs
  src/Commands/Group/GroupListCommand.cs
  src/Commands/KeyVault/Key/KeyListCommand.cs
  src/Commands/Kusto/ClusterListCommand.cs
  src/Commands/Kusto/DatabaseListCommand.cs
  src/Commands/Kusto/TableListCommand.cs
  src/Commands/Monitor/Table/TableListCommand.cs
  src/Commands/Monitor/TableType/TableTypeListCommand.cs
  src/Commands/Monitor/Workspace/WorkspaceListCommand.cs
  src/Commands/Postgres/Database/DatabaseListCommand.cs
  src/Commands/Postgres/Server/ServerListCommand.cs
  src/Commands/Postgres/Table/TableListCommand.cs
  src/Commands/Redis/CacheForRedis/AccessPolicyListCommand.cs
  src/Commands/Redis/CacheForRedis/CacheListCommand.cs
  src/Commands/Redis/ManagedRedis/ClusterListCommand.cs
  src/Commands/Redis/ManagedRedis/DatabaseListCommand.cs
  src/Commands/Search/Index/IndexListCommand.cs
  src/Commands/Search/Service/ServiceListCommand.cs
  src/Commands/Storage/Account/AccountListCommand.cs
  src/Commands/Storage/Blob/BlobListCommand.cs
  src/Commands/Storage/Blob/Container/ContainerListCommand.cs
  src/Commands/Storage/Table/TableListCommand.cs
  src/Commands/Subscription/SubscriptionListCommand.cs
Owners: @JonathanCrd, @conniey, @Azure/azure-mcp, @vurhanau, @jongio, @xiangyan99, @sajeetharan, @ArthurMa1978, @vcolin7, @danield137, @smritiy, @srnagar, @kk-src, @shreyaaithal, @maxluk, @philon-msft, @pablocastro, @alzimmermsft

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @Azure/azure-mcp, @Azure/azure-sdk-eng

Updated tests to check for empty list instead of null
  tests/Commands/Authorization/RoleAssignmentListCommandTests.cs
  tests/Commands/Cosmos/AccountListCommandTests.cs
  tests/Commands/KeyVault/Key/KeyListCommandTests.cs
  tests/Commands/Kusto/ClusterListCommandTests.cs
  tests/Commands/Postgres/Database/DatabaseListCommandTests.cs
  tests/Commands/Postgres/Server/ServerListCommandTests.cs
  tests/Commands/Postgres/Table/TableListCommandTests.cs
  tests/Commands/Redis/CacheForRedis/AccessPolicyListCommandTests.cs
  tests/Commands/Redis/CacheForRedis/CacheListCommandTests.cs
  tests/Commands/Redis/ManagedRedis/ClusterListCommandTests.cs
  tests/Commands/Redis/ManagedRedis/DatabaseListCommandTests.cs
  tests/Commands/Search/Index/IndexListCommandTests.cs
  tests/Commands/Search/Service/ServiceListCommandTests.cs
  tests/Commands/Storage/Account/AccountListCommandTests.cs
  tests/Commands/Storage/Blob/BlobListCommandTests.cs
  tests/Commands/Storage/Blob/Container/ContainerListCommandTests.cs
  tests/Commands/Storage/Table/TableListCommandTests.cs
  tests/Commands/Subscription/SubscriptionListCommandTests.cs
Owners: @Azure/azure-mcp

minor cleanup kusto (#401)
  src/Services/Azure/Kusto/KustoClient.cs
  src/Services/Azure/Kusto/KustoService.cs
Owners: @danield137, @xiangyan99, @Azure/azure-mcp

Address review feedback
  e2eTests/e2eTestPrompts.md
  src/Docs/new-command.md
Owners: @Azure/azure-mcp

Increment package version after release
  CHANGELOG.md
  src/AzureMcp.csproj
Owners: @Azure/azure-mcp

Add initial EngSys files.
  eng/pipelines/publish-docker-image-isolated.yml
  eng/pipelines/publish-docker-image.yml
  eng/pipelines/templates/scripts/get-docker-manifest-input.ps1
Owners: @Azure/azure-mcp, @Azure/azure-sdk-eng

AddingFeatureFlags
  src/Commands/AppConfig/AppConfigJsonContext.cs
  src/Commands/AppConfig/FeatureFlag/BaseFeatureFlagCommand.cs
  src/Commands/AppConfig/FeatureFlag/FeatureFlagPutCommand.cs
  src/Commands/CommandFactory.cs
  src/Models/AppConfig/FeatureFlag.cs
  src/Models/Option/OptionDefinitions.cs
  src/Options/AppConfig/FeatureFlag/BaseFeatureFlagOptions.cs
  src/Options/AppConfig/FeatureFlag/FeatureFlagPutOptions.cs
  src/Services/Azure/AppConfig/AppConfigService.cs
  src/Services/Interfaces/IAppConfigService.cs
Owners: @JonathanCrd, @conniey, @Azure/azure-mcp

Add ci-docker.yml
  eng/pipelines/ci-docker.yml
Owners: @Azure/azure-mcp, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

# -----------------------------------------------------------------
# IMPORTANT NOTE:
#   The ordering of "ServiceLabel" blocks is important!
#
#   Matching takes place from bottom-to-top and will stop after the
#   first match.  Place less specific matches earlier in the file
#   and more specific matches later.
#
#   Be sure to add new entries in the area they belong, denoted by the
#   header wrapped in "#" characters. (e.g. SDK, EngSys, Management)
# -----------------------------------------------------------------

##################
# Catch all
##################
*                                      @Azure/azure-mcp

##################
# Eng Sys
##################
/eng/                                  @Azure/azure-mcp @Azure/azure-sdk-eng
/.github/                              @Azure/azure-mcp @Azure/azure-sdk-eng
/.config/                              @Azure/azure-mcp @Azure/azure-sdk-eng

##################
# Services
##################
# PRLabel: %area-AppConfig
/src/Options/AppConfig/                @JonathanCrd @conniey @Azure/azure-mcp
/src/Commands/AppConfig/               @JonathanCrd @conniey @Azure/azure-mcp
/src/Services/Azure/AppConfig/         @JonathanCrd @conniey @Azure/azure-mcp

# ServiceLabel: %area-AppConfig
# ServiceOwners:                       @shenmuxiaosen @avanigupta


# PRLabel: %area-BestPractices
/src/Commands/AzureBestPractices/           @g2vinay @conniey @Azure/azure-mcp
/src/Resources/azure-best-practices.txt     @g2vinay @conniey @Azure/azure-mcp

# ServiceLabel: %area-BestPractices
# ServiceOwners:                            @g2vinay @conniey


# PRLabel: %area-CosmosDB
/src/Options/Cosmos/                 @sajeetharan @xiangyan99 @Azure/azure-mcp
/src/Commands/Cosmos/                @sajeetharan @xiangyan99 @Azure/azure-mcp
/src/Services/Azure/Cosmos/          @sajeetharan @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-CosmosDB
# ServiceOwners:                       @sajeetharan @xiangyan99


# PRLabel: %area-Azd
/src/Options/Extension/                 @wbreza @jongio @Azure/azure-mcp
/src/Commands/Extension/                @wbreza @jongio @Azure/azure-mcp
/src/Services/Azure/Extension/          @wbreza @jongio @Azure/azure-mcp

# ServiceLabel: %area-Azd
# ServiceOwners:                        @wbreza @jongio


# PRLabel: %area-ARM
/src/Options/Group/                    @ArthurMa1978 @jongio @Azure/azure-mcp
/src/Commands/Group/                   @ArthurMa1978 @jongio @Azure/azure-mcp
/src/Services/Azure/Group/             @ArthurMa1978 @jongio @Azure/azure-mcp

# ServiceLabel: %area-ARM
# ServiceOwners:                       @ArthurMa1978


# PRLabel: %area-KeyVault
/src/Options/KeyVault/                 @vcolin7 @JonathanCrd @Azure/azure-mcp
/src/Commands/KeyVault/                @vcolin7 @JonathanCrd @Azure/azure-mcp
/src/Services/Azure/KeyVault/          @vcolin7 @JonathanCrd @Azure/azure-mcp

# ServiceLabel: %area-KeyVault
# ServiceOwners:                       @vcolin7 @JonathanCrd

# PRLabel: %area-ISV
/src/Arguments/AzureIsv/               @jayanthjj @pachaturevedi
/src/Commands/AzureIsv/                @jayanthjj @pachaturevedi
/src/Services/Azure/AzureIsv/          @jayanthjj @pachaturevedi

# ServiceLabel: %area-ISV
# ServiceOwners:                       @jayanthjj @pachaturevedi

# PRLabel: %area-Kusto
/src/Options/Kusto/                    @danield137 @xiangyan99 @Azure/azure-mcp
/src/Commands/Kusto/                   @danield137 @xiangyan99 @Azure/azure-mcp
/src/Services/Azure/Kusto/             @danield137 @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-Kusto
# ServiceOwners:                       @danield137


# PRLabel: %area-Monitor
/src/Options/Monitor/                  @smritiy @srnagar @jongio @Azure/azure-mcp
/src/Commands/Monitor/                 @smritiy @srnagar @jongio @Azure/azure-mcp
/src/Services/Azure/Monitor/           @smritiy @srnagar @jongio @Azure/azure-mcp

# ServiceLabel: %area-Monitor
# ServiceOwners:                       @smritiy @srnagar @jongio


# PRLabel: %area-Postgres
/src/Options/Postgres/                  @kk-src @shreyaaithal @maxluk @xiangyan99 @Azure/azure-mcp
/src/Commands/Postgres/                 @kk-src @shreyaaithal @maxluk @xiangyan99 @Azure/azure-mcp
/src/Services/Azure/Postgres/           @kk-src @shreyaaithal @maxluk @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-Postgres
# ServiceOwners:                       @kk-src @shreyaaithal @maxluk


# PRLabel: %area-Search
/src/Options/Search/                  @pablocastro @jongio @Azure/azure-mcp
/src/Commands/Search/                 @pablocastro @jongio @Azure/azure-mcp
/src/Services/Azure/Search/           @pablocastro @jongio @Azure/azure-mcp

# ServiceLabel: %area-Search
# ServiceOwners:                       @pablocastro


# PRLabel: %area-ServiceBus
/src/Options/ServiceBus/               @anuchandy @conniey @Azure/azure-mcp
/src/Commands/ServiceBus/              @anuchandy @conniey @Azure/azure-mcp
/src/Services/Azure/ServiceBus/        @anuchandy @conniey @Azure/azure-mcp

# ServiceLabel: %area-ServiceBus
# ServiceOwners:                       @shankarsama @EldertGrootenboer

# PRLabel: %area-Redis
/src/Options/Redis/               @philon-msft @xiangyan99 @Azure/azure-mcp
/src/Commands/Redis/              @philon-msft @xiangyan99 @Azure/azure-mcp
/src/Services/Azure/Redis/        @philon-msft @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-Redis
# ServiceOwners:                       @philon-msft @carldc

# PRLabel: %area-Storage
/src/Options/Storage/                  @alzimmermsft @jongio @Azure/azure-mcp
/src/Commands/Storage/                 @alzimmermsft @jongio @Azure/azure-mcp
/src/Services/Azure/Storage/           @alzimmermsft @jongio @Azure/azure-mcp

# ServiceLabel: %area-Storage
# ServiceOwners:                       @alzimmermsft  @jongio

# PRLabel: %area-Authorization
/src/Options/Authorization/            @vurhanau @jongio @xiangyan99 @Azure/azure-mcp
/src/Commands/Authorization/           @vurhanau @jongio @xiangyan99 @Azure/azure-mcp
/src/Services/Azure/Authorization/     @vurhanau @jongio @xiangyan99 @Azure/azure-mcp

# ServiceLabel: %area-Authorization
# ServiceOwners:                       @vurhanau
