Repository Azure/azure-mcp, pull requests merged in 2025-08, with the labels that each got.

#767 Update CHANGELOG entry.
  CHANGELOG.md
Labels: documentation

#701 Added missing Monitor unit tests
  areas/monitor/tests/AzureMcp.Monitor.UnitTests/HealthModels/Entity/EntityGetHealthCommandTests.cs
  areas/monitor/tests/AzureMcp.Monitor.UnitTests/Log/ResourceLogQueryCommandTests.cs
  areas/monitor/tests/AzureMcp.Monitor.UnitTests/Log/WorkspaceLogQueryCommandTests.cs
  areas/monitor/tests/AzureMcp.Monitor.UnitTests/Metrics/MetricsDefinitionsCommandTests.cs
  areas/monitor/tests/AzureMcp.Monitor.UnitTests/Metrics/MetricsQueryCommandTests.cs
  areas/monitor/tests/AzureMcp.Monitor.UnitTests/Metrics/MonitorMetricsServiceTests.cs
  areas/monitor/tests/AzureMcp.Monitor.UnitTests/Metrics/ResourceResolverServiceTests.cs
  areas/monitor/tests/AzureMcp.Monitor.UnitTests/Models/RoundedDoubleArrayConverterTests.cs
  areas/monitor/tests/AzureMcp.Monitor.UnitTests/Table/TableListCommandTests.cs
  areas/monitor/tests/AzureMcp.Monitor.UnitTests/TableType/TableTypeListCommandTests.cs
  areas/monitor/tests/AzureMcp.Monitor.UnitTests/Workspace/WorkspaceListCommandTests.cs
Labels: test issue

#793 Add azure-storage-share-file-list command
  .vscode/cspell.json
  CHANGELOG.md
  Directory.Packages.props
  README.md
  areas/storage/src/AzureMcp.Storage/AzureMcp.Storage.csproj
  areas/storage/src/AzureMcp.Storage/Commands/Share/BaseShareCommand.cs
  areas/storage/src/AzureMcp.Storage/Commands/Share/File/BaseFileCommand.cs
  areas/storage/src/AzureMcp.Storage/Commands/Share/File/FileListCommand.cs
  areas/storage/src/AzureMcp.Storage/Commands/StorageJsonContext.cs
  areas/storage/src/AzureMcp.Storage/Models/FileShareItemInfo.cs
  areas/storage/src/AzureMcp.Storage/Options/Share/BaseShareOptions.cs
  areas/storage/src/AzureMcp.Storage/Options/Share/File/BaseFileOptions.cs
  areas/storage/src/AzureMcp.Storage/Options/Share/File/FileListOptions.cs
  areas/storage/src/AzureMcp.Storage/Options/StorageOptionDefinitions.cs
  areas/storage/src/AzureMcp.Storage/Services/IStorageService.cs
  areas/storage/src/AzureMcp.Storage/Services/StorageService.cs
  areas/storage/src/AzureMcp.Storage/StorageSetup.cs
  areas/storage/tests/AzureMcp.Storage.LiveTests/StorageCommandTests.cs
  areas/storage/tests/AzureMcp.Storage.UnitTests/Share/File/FileListCommandTests.cs
  areas/storage/tests/test-resources-post.ps1
  areas/storage/tests/test-resources.bicep
  docs/azmcp-commands.md
  docs/new-command.md
  e2eTests/e2eTestPrompts.md
Labels: area-Storage

#879 Improve Storage tool descriptions
  CHANGELOG.md
  areas/storage/src/AzureMcp.Storage/StorageSetup.cs
Labels: area-Storage

#794 Add azmcp-storage-queue-message-send command
  .vscode/cspell.json
  CHANGELOG.md
  Directory.Packages.props
  README.md
  areas/storage/src/AzureMcp.Storage/AzureMcp.Storage.csproj
  areas/storage/src/AzureMcp.Storage/Commands/Queue/BaseQueueCommand.cs
  areas/storage/src/AzureMcp.Storage/Commands/Queue/Message/QueueMessageSendCommand.cs
  areas/storage/src/AzureMcp.Storage/Commands/StorageJsonContext.cs
  areas/storage/src/AzureMcp.Storage/Models/QueueMessageSendResult.cs
  areas/storage/src/AzureMcp.Storage/Options/Queue/BaseQueueOptions.cs
  areas/storage/src/AzureMcp.Storage/Options/Queue/Message/QueueMessageSendOptions.cs
  areas/storage/src/AzureMcp.Storage/Options/StorageOptionDefinitions.cs
  areas/storage/src/AzureMcp.Storage/Services/IStorageService.cs
  areas/storage/src/AzureMcp.Storage/Services/StorageService.cs
  areas/storage/src/AzureMcp.Storage/StorageSetup.cs
  areas/storage/tests/AzureMcp.Storage.LiveTests/StorageCommandTests.cs
  areas/storage/tests/AzureMcp.Storage.UnitTests/Queue/Message/QueueMessageSendCommandTests.cs
  areas/storage/tests/test-resources.bicep
  docs/azmcp-commands.md
  e2eTests/e2eTestPrompts.md
Labels: area-Storage

#965 Updated scoring metrics and renamed utility for evaluating tool descriptions
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  docs/new-command.md
  eng/scripts/Test-ToolSelection.ps1
  eng/tools/ToolDescriptionConfidenceScore/Models/SuccessRateMetrics.cs
  eng/tools/ToolDescriptionConfidenceScore/results.md
  eng/tools/ToolDescriptionConfidenceScore/results.txt
  eng/tools/ToolDescriptionEvaluator/.env.example
  eng/tools/ToolDescriptionEvaluator/Models/EmbeddingModels.cs
  eng/tools/ToolDescriptionEvaluator/Models/McpModels.cs
  eng/tools/ToolDescriptionEvaluator/Models/SourceGenerationContext.cs
  eng/tools/ToolDescriptionEvaluator/Models/SuccessRateMetrics.cs
  eng/tools/ToolDescriptionEvaluator/Program.cs
  eng/tools/ToolDescriptionEvaluator/Quickstart.md
  eng/tools/ToolDescriptionEvaluator/README.md
  eng/tools/ToolDescriptionEvaluator/Run-ToolDescriptionEvaluator.ps1
  eng/tools/ToolDescriptionEvaluator/Services/EmbeddingService.cs
  eng/tools/ToolDescriptionEvaluator/ToolDescriptionEvaluator.csproj
  eng/tools/ToolDescriptionEvaluator/Update-ToolsJson.ps1
  eng/tools/ToolDescriptionEvaluator/VectorDb/VectorDB.cs
  eng/tools/ToolDescriptionEvaluator/groups.json
  eng/tools/ToolDescriptionEvaluator/prompts.json
  eng/tools/ToolDescriptionEvaluator/results.md
  eng/tools/ToolDescriptionEvaluator/results.txt
  eng/tools/ToolDescriptionEvaluator/tools.json
Labels: documentation, Engineering Excellence

#968 Add `azmcp keyvault certificate import` command
  CHANGELOG.md
  README.md
  areas/keyvault/src/AzureMcp.KeyVault/Commands/Certificate/CertificateImportCommand.cs
  areas/keyvault/src/AzureMcp.KeyVault/Commands/KeyVaultJsonContext.cs
  areas/keyvault/src/AzureMcp.KeyVault/KeyVaultSetup.cs
  areas/keyvault/src/AzureMcp.KeyVault/Options/Certificate/CertificateImportOptions.cs
  areas/keyvault/src/AzureMcp.KeyVault/Options/KeyVaultOptionDefinitions.cs
  areas/keyvault/src/AzureMcp.KeyVault/Services/IKeyVaultService.cs
  areas/keyvault/src/AzureMcp.KeyVault/Services/KeyVaultService.cs
  areas/keyvault/tests/AzureMcp.KeyVault.LiveTests/KeyVaultCommandTests.cs
  areas/keyvault/tests/AzureMcp.KeyVault.UnitTests/Certificate/CertificateImportCommandTests.cs
  docs/azmcp-commands.md
  docs/e2eTestPrompts.md
  eng/tools/ToolDescriptionEvaluator/Run-ToolDescriptionEvaluator.ps1
  eng/tools/ToolDescriptionEvaluator/prompts.json
  eng/tools/ToolDescriptionEvaluator/results.md
  eng/tools/ToolDescriptionEvaluator/results.txt
  eng/tools/ToolDescriptionEvaluator/tools.json
Labels: area-KeyVault

#960 Add azmcp-storage-blob-upload command
  CHANGELOG.md
  README.md
  areas/storage/src/AzureMcp.Storage/Commands/Blob/BlobUploadCommand.cs
  areas/storage/src/AzureMcp.Storage/Commands/StorageJsonContext.cs
  areas/storage/src/AzureMcp.Storage/Models/BlobUploadResult.cs
  areas/storage/src/AzureMcp.Storage/Options/Blob/BlobUploadOptions.cs
  areas/storage/src/AzureMcp.Storage/Options/StorageOptionDefinitions.cs
  areas/storage/src/AzureMcp.Storage/Services/IStorageService.cs
  areas/storage/src/AzureMcp.Storage/Services/StorageService.cs
  areas/storage/src/AzureMcp.Storage/StorageSetup.cs
  areas/storage/tests/AzureMcp.Storage.LiveTests/StorageCommandTests.cs
  areas/storage/tests/AzureMcp.Storage.UnitTests/Blob/BlobUploadCommandTests.cs
  docs/azmcp-commands.md
  docs/e2eTestPrompts.md
Labels: area-Storage

#1022 Updating AOT doc: restrict merging in with AOT violations
  docs/aot-compatibility.md
Labels: documentation

#890 Migrate Cloud Architect Tool from @azure to az mcp server
  .github/CODEOWNERS
  AzureMcp.sln
  CHANGELOG.md
  README.md
  areas/cloudarchitect/src/AzureMcp.CloudArchitect/AssemblyInfo.cs
  areas/cloudarchitect/src/AzureMcp.CloudArchitect/AzureMcp.CloudArchitect.csproj
  areas/cloudarchitect/src/AzureMcp.CloudArchitect/CloudArchitectJsonContext.cs
  areas/cloudarchitect/src/AzureMcp.CloudArchitect/CloudArchitectSetup.cs
  areas/cloudarchitect/src/AzureMcp.CloudArchitect/Commands/Design/DesignCommand.cs
  areas/cloudarchitect/src/AzureMcp.CloudArchitect/GlobalUsings.cs
  areas/cloudarchitect/src/AzureMcp.CloudArchitect/Models/CloudArchitectResponseObject.cs
  areas/cloudarchitect/src/AzureMcp.CloudArchitect/Options/ArchitectureDesignConfidenceFactors.cs
  areas/cloudarchitect/src/AzureMcp.CloudArchitect/Options/ArchitectureDesignRequirement.cs
  areas/cloudarchitect/src/AzureMcp.CloudArchitect/Options/ArchitectureDesignRequirements.cs
  areas/cloudarchitect/src/AzureMcp.CloudArchitect/Options/ArchitectureDesignTiers.cs
  areas/cloudarchitect/src/AzureMcp.CloudArchitect/Options/ArchitectureDesignToolOptions.cs
  areas/cloudarchitect/src/AzureMcp.CloudArchitect/Options/ArchitectureDesignToolState.cs
  areas/cloudarchitect/src/AzureMcp.CloudArchitect/Options/ArchitectureTier.cs
  areas/cloudarchitect/src/AzureMcp.CloudArchitect/Options/CloudArchitectOptionDefinitions.cs
  areas/cloudarchitect/src/AzureMcp.CloudArchitect/Options/RequirementImportance.cs
  areas/cloudarchitect/src/AzureMcp.CloudArchitect/Options/RequirementImportanceConverter.cs
  areas/cloudarchitect/src/AzureMcp.CloudArchitect/Resources/azure-architecture-design.txt
  areas/cloudarchitect/tests/AzureMcp.CloudArchitect.UnitTests/AzureMcp.CloudArchitect.UnitTests.csproj
  areas/cloudarchitect/tests/AzureMcp.CloudArchitect.UnitTests/Design/DesignCommandTests.cs
  areas/cloudarchitect/tests/AzureMcp.CloudArchitect.UnitTests/GlobalUsings.cs
  core/src/AzureMcp.Cli/Program.cs
  docs/azmcp-commands.md
  docs/e2eTestPrompts.md
Labels: area-cloudarchitect

#970 Add Azure Function App get command
  CHANGELOG.md
  README.md
  areas/functionapp/src/AzureMcp.FunctionApp/Commands/BaseFunctionAppCommand.cs
  areas/functionapp/src/AzureMcp.FunctionApp/Commands/FunctionApp/FunctionAppGetCommand.cs
  areas/functionapp/src/AzureMcp.FunctionApp/Commands/FunctionApp/FunctionAppListCommand.cs
  areas/functionapp/src/AzureMcp.FunctionApp/Commands/FunctionAppJsonContext.cs
  areas/functionapp/src/AzureMcp.FunctionApp/FunctionAppSetup.cs
  areas/functionapp/src/AzureMcp.FunctionApp/GlobalUsings.cs
  areas/functionapp/src/AzureMcp.FunctionApp/Options/BaseFunctionAppOptions.cs
  areas/functionapp/src/AzureMcp.FunctionApp/Options/FunctionApp/FunctionAppGetOptions.cs
  areas/functionapp/src/AzureMcp.FunctionApp/Options/FunctionApp/FunctionAppListOptions.cs
  areas/functionapp/src/AzureMcp.FunctionApp/Options/FunctionAppOptionDefinitions.cs
  areas/functionapp/src/AzureMcp.FunctionApp/Services/FunctionAppService.cs
  areas/functionapp/src/AzureMcp.FunctionApp/Services/IFunctionAppService.cs
  areas/functionapp/tests/AzureMcp.FunctionApp.LiveTests/FunctionAppCommandTests.cs
  areas/functionapp/tests/AzureMcp.FunctionApp.UnitTests/FunctionApp/FunctionAppGetCommandTests.cs
  areas/functionapp/tests/AzureMcp.FunctionApp.UnitTests/FunctionApp/FunctionAppListCommandTests.cs
  docs/azmcp-commands.md
  docs/e2eTestPrompts.md
  eng/tools/ToolDescriptionEvaluator/Run-ToolDescriptionEvaluator.ps1
  eng/tools/ToolDescriptionEvaluator/prompts.json
Labels: blocking-release

#1029 Enhance best practices tools descriptions
  CHANGELOG.md
  areas/azurebestpractices/src/AzureMcp.AzureBestPractices/AzureBestPracticesSetup.cs
  areas/azurebestpractices/src/AzureMcp.AzureBestPractices/Commands/BestPracticesCommand.cs
  areas/azureterraformbestpractices/src/AzureMcp.AzureTerraformBestPractices/AzureTerraformBestPracticesSetup.cs
  areas/azureterraformbestpractices/src/AzureMcp.AzureTerraformBestPractices/Commands/AzureTerraformBestPracticesGetCommand.cs
Labels: area-BestPractices
